img {
    display:block;
    margin-left: 50px;
}

h1 {
    margin: 0px auto;
}

p, ul, ol {
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 150px;
    margin-left: 50px;
    margin-right: 265px;
    margin-top: auto;
    width: 700px;
    height: auto;
}